.cartbutton {
  /* background-color: #bdbdbd; */
  background-color: transparent;
  color: #bdbdbd;
  display: inline-block;
  display: flex;
  /* flex-direction: column; */
  font-family: var(--raleway);
  position: relative;
  max-width: 285px;
  width: 100%;
  text-align: center;
  border: 5px solid #bdbdbd;
  cursor: pointer;
  /* justify-self: center; */
  /* align-self: center; */
}
.cartbutton h1 {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 1.7em;
  line-height: 50px;
  position: relative;
  padding-left: 56px;
}
.cartbutton h1 span {
  font-size: inherit;
  position: absolute;
  line-height: 50px;
  width: 50px;
  left: 0;
  border-right: 5px solid #bdbdbd;
  /* font-size: 1.1em; */
}
.cartbutton h1 span:nth-of-type(2) {
  top: -15px;
  left: 10px;
  font-weight: 500;
  font-size: 0.6em;
  border: none;
}
